<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the public directory
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

    # Redirect storage folder access
    RewriteRule ^storage/(.*)$ storage/app/public/$1 [L]
</IfModule>

<Files .env>
    Order allow,deny
    Deny from all
</Files>